body {
    font-family: roboto, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    font-size: 18px;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    font-size: 12px;
    font-weight:100;
    gap: 10px;
}

a {
    color: #F9FAF8;
}

.herobanner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 68px;
}

.heromaintext {
    font-size: 48px;
    max-width: 33.3%;
    flex: 1;
}

.herosubtext {
    font-size: 18px;
}

.herofish {
    max-width: 400px;
}

button {
    display: flex;
    flex-shrink: none;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
}

img {
    display: flex;
    justify-content: flex-end;
    border: 3px;
    border-color: #F9FAF8;
    background-color: #1F2937;
    border-radius: 12px;
}

.infoheader {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 12px;
    text-align: center;
}

.container {
    display: flex;
}

.card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.fishes {
    height: 100px;
    width: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 16px;
    text-align: center;
}

footer {
    justify-content: center;
    font-size: 15px;
}